#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTINATION=$(CURDIR)/debian/lockd

clean:
	rm -rf $(DESTINATION)

build:
	echo .

buildDir:
	mkdir -p $(DESTINATION)/usr/sbin
	mkdir -p $(DESTINATION)/var/log

installLockd:
	install -m 0755 -o root -g root $(CURDIR)/lockd.py $(DESTINATION)/usr/sbin/lockd.py

install: buildDir installLockd

binary: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs	
	dh_installinit
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: binary-indep
